name: CI/CD Pipeline

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  hello: 
    name: Hello jobs 
    runs-on: ubuntu-latest  
    steps:
      - run: echo "Hello"
- name: Upload resulting Build package
  uses: actions/upload-artifact@v4
  with:
    name: Package
    path: backend/target
